{% extends "layouts/base.html" %}

{% block title %}Todos{% endblock %}

{% block content %}
<div class="container">
    {% include "components/flash-message.html" %}
    <div class="mt-5">
    <h2>Todo List</h2>
        <form method="post">
        {% csrf_token %}
        <div>
            <input class="form-control" type="text" name="task" placeholder="Add a new todo">
            {% if error %}
                <div class="text-danger text-sm mt-1">{{ error }}</div>
            {% endif %}
            <button class="btn btn-primary mt-2" type="submit">Add Task</button>
        </div>
        </form>
        <div class="row mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td>{{ todo.title }}</td>
                        <td>{% if todo.completed %}Completed{% else %}Not Completed{% endif %}</td>
                        <td>
                            <form action="{% url 'toggle_todo' todo.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn {% if todo.completed %}btn-success{% else %}btn-warning{% endif %}">
                                    {% if todo.completed %}Mark Incomplete{% else %}Mark Complete{% endif %}
                                </button>
                            </form>
                            <form action="{% url 'delete_todo' todo.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
