{% if messages %}
  {% for message in messages %}
    <div 
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-3" 
      role="alert"
    >
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<div 
  class="alert alert-dismissible fade show mt-3 d-none manual-alert" 
  role="alert"
  >
  <span class="manual-alert-text"></span>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    onclick="$(this).closest('.alert').addClass('d-none')">
  </button>
</div>